<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/log_sign.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/checkbox.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="display-container">
        <div class="form-container">
            <div class="logo-container text-font">
                Создать пользователя
            </div>
                
            <form class="form" method="post">

                <div class="form-group">
                    <label for="login" class="text-font">Логин</label>
                    <input type="text" id="login" name="login" placeholder="Введите логин">
                </div>
                <label class="checkbox-container">
                    <input name="role" class="custom-checkbox" checked="" type="checkbox">
                    <span class="checkmark"></span>Adm
                </label>   
                <div class="form-group">
                    <label for="post" class="text-font">Должность</label>
                    <input type="text" id="post" name="post" placeholder="Введите должность">
                </div>
                <div class="form-group">
                    <label for="surname" class="text-font">Фамилия</label>
                    <input type="text" id="surname" name="surname" placeholder="Введите фамилию">
                </div>
                <div class="form-group">
                    <label for="name" class="text-font">Имя</label>
                    <input type="text" id="name" name="name" placeholder="Введите имя">
                </div>
                <div class="form-group">
                    <label for="patronymic" class="text-font">Отчество</label>
                    <input type="text" id="patronymic" name="patronymic" placeholder="Введите отчество">
                </div>
                <% if (error) { %>
                    <div class="form-group">
                        <label for="error" class="text-font">Ошибка</label>
                        <label id="error" name="error" style="color: red;"><%= error %></label>
                    </div>
                <% } %>
                <button class="form-submit-btn btn" type="submit">
                    <span class="transition"></span>
                    <span class="gradient"></span>
                    <span class="label text-font">Создать</span>
                </button>
            </form>
        </div>
    </div>
</body>

</html>