<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/log_sign.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/checkbox.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="display-container">
        <div class="form-container">
            <div class="logo-container text-font">
                Изменить пользователя
            </div>

            <form class="form" method="post">
                <div class="form-group">
                    <label for="new_login" class="text-font">Новый логин</label>
                    <input type="text" id="new_login" name="new_login" placeholder="Введите логин">
                </div>
                <label class="checkbox-container">
                    <input class="custom-checkbox" checked="" type="checkbox" >
                    <span class="checkmark"></span>Adm
                </label>   
                <div class="form-group">
                    <label for="new_post" class="text-font">Новая должность</label>
                    <input type="text" id="new_post" name="new_post" placeholder="Введите должность" >>
                </div>
                <div class="form-group">
                    <label for="new_surname" class="text-font">Фамилия</label>
                    <input type="text" id="new_surname" name="new_surname" placeholder="Введите фамилию">>
                </div>
                <div class="form-group">
                    <label for="new_name" class="text-font">Имя</label>
                    <input type="text" id="new_name" name="new_name" placeholder="Введите имя">>
                </div>
                <div class="form-group">
                    <label for="new_patronymic" class="text-font">Отчество</label>
                    <input type="text" id="new_patronymic" name="new_patronymic" placeholder="Введите отчество">
                </div>
                <button class="form-submit-btn btn" type="submit">
                    <span class="transition"></span>
                    <span class="gradient"></span>
                    <span class="label text-font">Изменить</span>
                </button>
            </form>
        </div>
    </div>
</body>

</html>