@import "button.css";
@import "dropdown.css";
@import "text.css";
@import "modal_window.css";
@import "dialog.css";
@import "card.css";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    text-align: left;
}

body {
    background-color: #313131;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.main {
    border: 1.5px solid #d87236;
    border-radius: 10px;
    background-color: #2e2e2e;
}

.main_header {
    border-bottom: #d87236 1.5px solid;
    padding: 10px;
}

.main_body {
    padding: 10px;
}

.creator {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: flex-end;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: 0.4rem 0;
}

.card.overdue {
    background-color: #4a1c1c; 
    color: #ff6666; 
    border: 1px solid #ff6666; 
}

.card a {
    color: #d87236; 
    text-decoration: none;
    transition: color 0.3s ease;
}

.card a:hover {
    color: #ff9f66;
    text-decoration: underline;
}

.card[data-type="Срочная"] {
    border: 2px solid #ff6666; 
}

.card[data-type="Долгосрочная"] {
    border: 2px solid #36a2d8; 
}

.card[data-type="Обычная"] {
    border: 2px solid #66cc66; 
}

.card.overdue[data-type="Срочная"],
.card.overdue[data-type="Долгосрочная"],
.card.overdue[data-type="Обычная"] {
    border: 1px solid #ff6666; 
}