.text-black {
    color: black;
}
.text-white {
    color: white;
}
.text-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.text-size {
    font-size: 18px;
    text-align: end;
}